AboutResources.txt
Resource.designer.cs
*~
*.suo
*.bak
*.csproj
*.csproj.user
*.DS_Store
/bin/
/obj/
/*.userprefs
/*.sln
/packages.config
/packages/
/.vs/
*.swp
Info.plist
/Info.MacOS.plist
/Info.iOS.plist
*.speccache
version.txt
*.htm
Content_work